<html><head>
<title>Emergency Services in Madurai </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="093145" text="#FFFFFF" link="#FFFFFF" vlink="#FFFFFF" alink="#FFFFFF" leftmargin="0" topmargin="0">
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="2">
  <tbody><tr> 
    <td width="40%"><div align="center"> 
        <h3 align="center"><font color="#FFFFFF" face="Arial">Emergency Services</font></h3>
      </div>
      </td>
    

     
  </tr>
</tbody></table>

<style>
  .flash{
  text-align: center;
}
</style>
<br>
<table width="98%" border="0" align="center" cellpadding="2" cellspacing="2">
  <tbody><tr>
    <td width="48%" align="left" valign="top"><table width="80%" border="1" align="center" cellpadding="2" cellspacing="2" bordercolor="#2eb8b8" bgcolor="093145">
      <tbody><tr bgcolor="#0a2929">
        <td width="40%" height="19" align="left" valign="top">
          <div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>TNEB
                Office</strong></font></div>
        </td>
        <td width="40%" align="left" valign="top">
          <div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Phone
                Numbers</strong></font></div>
        </td>
      </tr>
      <tr bgcolor="093145">
        <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Annanagar </font></div>
        </td>
        <td bgcolor="093145"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2533006</font></div>
        </td>
      </tr>
      <tr bgcolor="093145">
        <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Pasumalai </font></td>
        <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2604840 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Anupanadi </font></td>
        <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2671113 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Power
            House (TPK)</font></td>
        <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2733694</font></td>
      </tr>
      <tr bgcolor="093145">
        <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Arasamaram </font></td>
        <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2738272</font></td>
      </tr>
      <tr bgcolor="093145">
        <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Pudur</font></td>
        <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2568211</font></td>
      </tr>
      <tr bgcolor="093145">
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Arasaradi</font></td>
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2602363 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Sellur</font></td>
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2651591 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">East-Veli
            Street </font></td>
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2624240 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Simmakkal</font></td>
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2624240 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Goripalayam </font></td>
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2531012</font></td>
      </tr>
      <tr bgcolor="093145">
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Subramaniyapuram</font></td>
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2733056 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Karumbalai</font></td>
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2624240</font></td>
      </tr>
      <tr bgcolor="093145">
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Tamil
            Sangam Road</font></td>
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2743847 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">KK
            Nagar</font></td>
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2536338</font></td>
      </tr>
      <tr bgcolor="093145">
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Thavittuchandai</font></td>
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2735898 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Matuthavani </font></td>
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2566522</font></td>
      </tr>
      <tr bgcolor="093145">
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Tirupalai</font></td>
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2536522 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Municahlai</font></td>
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2730745</font></td>
      </tr>
      <tr bgcolor="093145">
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Tiruparankundram</font></td>
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2882443 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Palanganatham</font></td>
        <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2601977 </font></td>
      </tr>
    </tbody></table>
      <table width="80%" border="1" align="center" cellpadding="2" cellspacing="2" bordercolor="#2eb8b8" >
        <tbody><tr bgcolor="#0a2929">
          <td width="40%" height="18" align="left" valign="top"><div align="center">
              <p align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Police
                    Stations</strong></font></p>
            </div>
          </td>
          <td width="40%" align="left" valign="top"><div align="center"> <font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Phone
                  Numbers</strong></font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Emergency </font></div>
          </td>
          <td bgcolor="093145"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">100</font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Control
                Room</font></div>
          </td>
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2730100</font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">B1
                - Vilathikulam</font></div>
          </td>
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2722059</font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="19"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">B2
                - Meenakshiamman Koil</font></div>
          </td>
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2744007</font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="19" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">C1
                - Teppakulam</font></div>
          </td>
          <td align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2628144 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="21" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">C2
                - Keeraithurai</font></div>
          </td>
          <td align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2670298 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="18" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">D1
                - South gate</font></div>
          </td>
          <td align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2737041 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="18" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">D2
                - Jaihindipuram</font></div>
          </td>
          <td align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2671871 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="21" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">E1
                - Thidirnagar </font></div>
          </td>
          <td align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2738300</font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="21" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">F1
                - Andalpuram</font></div>
          </td>
          <td align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2600560 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="21" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">F2
                - SS Colony</font></div>
          </td>
          <td align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2600928</font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="21" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">G1
                - Thilagar thidal</font></div>
          </td>
          <td align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2741723 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="24" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">G2
                - Karimedu</font></div>
          </td>
          <td align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2602869 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="21" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">H1
                - Tallakulam</font></div>
          </td>
          <td align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2538015 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="21" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">H2
                - K Pudur</font></div>
          </td>
          <td align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2561568</font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="21" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">J1
                - Sellur</font></div>
          </td>
          <td align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2651384 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="21" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">J2
                - Madhichiam</font></div>
          </td>
          <td align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2533905 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="21" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">K1
                - Annanagar</font></div>
          </td>
          <td align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2533247 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="18" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Rajaji
                Govt. Hospital</font></div>
          </td>
          <td align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2533806</font></div>
          </td>
        </tr>
      </tbody></table>
      <br>
    </td>
    <td width="48%" align="left" valign="top"><table width="80%" border="1" align="center" cellpadding="2" cellspacing="2" bordercolor="#2eb8b8" bgcolor="093145">
      <tbody><tr bgcolor="#0a2929">
        <td width="40%" height="18" align="center" valign="top">
          <div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Telephones</strong></font></div>
        </td>
        <td width="40%" align="center" valign="top">
          <div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Phone
                Numbers</strong></font></div>
        </td>
      </tr>
      <tr bgcolor="093145">
        <td height="18" align="left" valign="top"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Directory
              Enquiry</font></div>
        </td>
        <td height="18"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">197 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td height="18" align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Bill
            Enquiry</font></td>
        <td height="18"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2504795 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td height="18" align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Technical
            Enquiry</font></td>
        <td height="18"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">161 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td height="18" align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Commercial
            Enquiry </font></td>
        <td height="18"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2504796 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td height="18" align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Automated
            Billing System</font></td>
        <td height="18"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2523000 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td height="18" align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Check
            your telephones</font></td>
        <td height="18"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">193 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td height="21" align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Alarm/Reminder
            call-service</font></td>
        <td height="21"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">173 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td height="21" align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Trunk
            booking</font></td>
        <td height="21"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">180 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td height="21" align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Trunk
            Assistance</font></td>
        <td height="21"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">181 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td height="21" align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Trunk
            Information</font></td>
        <td height="21"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">183 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td height="21" align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">STD
            Complaints</font></td>
        <td height="21"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2602020 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td height="21" align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Telex
            Complaints</font></td>
        <td height="21" align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">235800 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td height="25" align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Telenews</font></td>
        <td height="25" align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2651655,
            2650566 </font></td>
      </tr>
      <tr bgcolor="093145">
        <td height="18" align="left" valign="top" bgcolor="093145"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Ask-Me </font></td>
        <td height="18" align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2611111</font></td>
      </tr>
    </tbody></table>
      <table width="80%" border="1" align="center" cellpadding="2" cellspacing="2" bordercolor="#2eb8b8" bgcolor="093145">
        <tbody><tr bgcolor="#0a2929">
          <td width="40%" height="18" align="center" valign="top">
            <div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Post
                  Office</strong></font></div>
          </td>
          <td width="40%" align="center" valign="top">
            <div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Phone
                  Numbers</strong></font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Madurai
                HO</font></div>
          </td>
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2740756,2743894 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Speed
              Post</font></td>
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2743894</font></td>
        </tr>
        <tr bgcolor="093145">
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Customer
              Service</font></td>
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2742001 </font></td>
        </tr>
        <tr bgcolor="093145">
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Tallakulam
              H P O</font></td>
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2531242</font></td>
        </tr>
        <tr bgcolor="093145">
          <td bgcolor="093145"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Bazaar
              Post Office</font></td>
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2745782</font></td>
        </tr>
      </tbody></table>
      <table width="80%" border="1" align="center" cellpadding="2" cellspacing="2" bordercolor="#2eb8b8" bgcolor="093145">
        <tbody><tr bgcolor="#0a2929">
          <td width="40%" height="19" align="left" valign="top">
            <div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Telegraphs</strong></font></div>
          </td>
          <td width="40%" align="left" valign="top">
            <div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Phone
                  Numbers</strong></font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Booking
                phonograms</font></div>
          </td>
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">185</font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="18"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Enquiry
              C. T. O. Tallakulam</font></td>
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2532975 </font></td>
        </tr>
        <tr bgcolor="093145">
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">DTO
              Gandhinagar</font></td>
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2532805 </font></td>
        </tr>
        <tr bgcolor="093145">
          <td bgcolor="093145"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Tallakulam
              H P O</font></td>
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2531242</font></td>
        </tr>
        <tr bgcolor="093145">
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Enquiry
              D T O Mahal</font></td>
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2625082 </font></td>
        </tr>
        <tr bgcolor="093145">
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Enquiry
              D T O Palanganatham</font></td>
          <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2603727 </font></td>
        </tr>
        <tr bgcolor="093145">
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Enquiry
              D T O Town</font></td>
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2740081 </font></td>
        </tr>
        <tr bgcolor="093145">
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Enquiry
              Telecom center TNR</font></td>
          <td><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2882905 </font></td>
        </tr>
        <tr bgcolor="093145">
          <td height="34" bgcolor="093145"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Enquiry
              Telecom center, Periyar Bus Stand</font></td>
          <td align="left" valign="top"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2741047 </font></td>
        </tr>
      </tbody></table>
      <table width="80%" border="1" align="center" cellpadding="2" cellspacing="2" bordercolor="#2eb8b8" bgcolor="093145">
        <tbody><tr bgcolor="#0a2929">
          <td width="40%" height="19" align="left" valign="top">
            <div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Jail
                  Numbers</strong></font></div>
          </td>
          <td width="40%" align="left" valign="top">
            <div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Phone
                  Numbers</strong></font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Madurai
                Central Jail</font></div>
          </td>
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"> 2602131 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td bgcolor="093145"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Minor
                Jail</font></div>
          </td>
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"> 2626524 </font></div>
          </td>
        </tr>
        <tr bgcolor="#0a2929">
          <td height="18" align="left" valign="top">
            <div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Ambulance</strong></font></div>
          </td>
          <td align="left" valign="top">
            <div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Phone
                  Numbers</strong></font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Emergency</font></div>
          </td>
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">101</font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Rajaji
                Hospital</font></div>
          </td>
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2532535
                - 40 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">City
                Clinic</font></div>
          </td>
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2650099,
                2580043 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td bgcolor="093145"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">City
                Ambulance </font></div>
          </td>
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"> 2661266 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">NarpaniMandram</font></div>
          </td>
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2602086 </font></div>
          </td>
        </tr>
        <tr bgcolor="#0a2929">
          <td height="18" align="left" valign="top">
            <div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Fire
                  Service</strong></font></div>
          </td>
          <td align="left" valign="top">
            <div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><strong>Phone
                  Numbers</strong></font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Tallakulam</font></div>
          </td>
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2531620 </font></div>
          </td>
        </tr>
        <tr bgcolor="093145">
          <td height="18"><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Anupanadi</font></div>
          </td>
          <td><div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">2670999 </font></div>
          </td>
        </tr>
      </tbody></table></td>
  </tr>
</tbody></table>
<div align="center"><br>
</div>
<div class="flash">
    <a  href="/home" >Home</a>
</div>
</html>